# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
*.env

# Logs
*.log
*.out
*.err

# OS-specific files
.DS_Store
Thumbs.db

.vscode/
.ipynb_checkpoints
